.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #ffe21c);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #272020;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/*for spa route*/
.screen{
  display: none;
}

.screen.active{
  display: block;
}

.editor-container{
  display: none;
  
}
.welcome-text{
  padding-top:10px;
}

.line-num{
  padding-right: 8px;
  color:gray;
  text-align: right;
  user-select: none;
}

textarea{
  background-color: white;
  flex: 1;
  white-space: pre-wrap;
  outline: none;
  resize:none;
  border: none;
  padding: 8px;
  line-height: 1.3;
  overflow:auto;
}


#cmdSearch{
  display: none;
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
}


input{
  width: 100%;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}


@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }


  input{
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}
